
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globais Customizados */
body {
  @apply bg-slate-50 text-slate-900 overflow-x-hidden;
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.glass {
  @apply bg-white/80 backdrop-blur-xl border-slate-200;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}
